# Backend
OPENAI_API_KEY=tu_clave_aqui
MONGO_URI=mongodb://localhost:27017/cv_db

# Frontend
VITE_API_URL=http://localhost:8000/api/v1

# Python environment
PYTHON_PATH="/home/usr/.pyenv/versions/pyenv_name/bin/python"

# Configuración para evaluación con Ragas
GROQ_API_KEY=tu_api_key_de_groq_aqui