# Ignorar archivos de modelos pesados
modelos/*.gguf

# Ignorar entornos virtuales
.venv/
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar los PDFs generados
*.pdf

# Python
__pycache__/
.venv/
env/
.env
*.py[cod]

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
.DS_Store